

*{
    margin: 0;
    padding: 0;
   
}


/* variables */

$color_azul:rgb(22, 2, 110);

$color_verde:rgb(2, 110, 2);

$color_verdetras: rgba(2, 110, 2, 0.78);

$color_naranja:rgb(240, 160, 11);

$color_fondo_texto: rgba(189, 189, 89, 0.658);






/* generales */

h1{
    color: $color_verde; 
    font-size: 50px; 
    font-weight: 600;
    font-family: 'Spartan', sans-serif;
    position: relative;
    left: 100px;
    
}

h2 {
    color: $color_verde;
    font-size: 28px; 
    font-weight: 400;
    font-family: 'Spartan', sans-serif;
    position: relative;
    margin-top: 20px;
    margin-left: 50px;
    

}

h3{
    color: black;
    font-size: 18px ;
    font-family: 'Roboto', sans-serif;

}

p{
    color: black;
    font-size: 12px ;
    font-family: 'Roboto', sans-serif;  
}

/* Header */

header{
    width: 100%;
    height: 200px;
}



/* NAVEGACION */

.itemMenu:hover{
    text-decoration: none;
    display: flex;
    background-color: $color_azul;
    align-items: center;
    justify-content: center;
    padding: 5px 20px 5px 20px;

}



/* MOBILE mediaq*/

@media only screen and (max-width: 580px){

    /* generales*/


    
    @mixin sombra{
        box-shadow: 0px, 8px, 5px black;
        

        
        
    }


    h2 {
        color: $color_verde; 
        font-size: 18px; 
        font-weight: 600;
        font-family: 'Spartan', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
      
    
    }

    h3{
        color: black;
        font-size: 14px ;
        font-style: 'Roboto', sans-serif;
    
    }
    
    p{
        color: black;
        font-size: 12px ;
        font-family: 'Roboto', sans-serif;  
    }

    
    /* logo mobile */


    header{
        width: 100%;
        height: 90px;

        .isologotop{
            color: $color_azul; 
            font-size: 30px; 
            margin-top: 10px;
            font-weight: 600;
            font-family: 'Spartan', sans-serif;
            position: relative;
            left: 100px;
        }
    
        .isologo{
            margin-top: -20px;
            margin-left: 60px;
            color: $color_verde; 
            font-size: 18px; 
            font-weight: 400;
            font-family: 'Spartan', sans-serif;
            position: relative;
            left: 70px;
        }
    
    
        #escudo{
            display: block;
            height: 80px;
            position: absolute;
            left: -80px;
            top: 0px;
        }
    
    }

  
    
    /* navegacion mobile */

    
    body{
        width: 100%;
        
        
        

    }

   

    .menu{
        height: 400px;
        width: 100%;
        background-image: url(./imagenes/puerta_fahy_degradado.png);
        background-position: center center;
        background-size: cover;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-attachment: fixed;
        text-decoration: none;
        
        .itemMenu{
            text-decoration: none;
            font-size: 24px;
            font-family: 'Roboto', sans-serif;
            color: rgb(249, 252, 249);
            padding: 10px;
            display: flex;
            align-items: center;
            justify-items: center;
            flex-direction: column;
          
        }
    
        .itemMenu:hover{
            text-decoration: none;
            display: flex;
            background-color: $color_verde;
            text-decoration: none;
        
        }
        


    }
    
    main{

        width: 100%;
        height: 800px;
        position: absolute;


        
        #imagenSocios{

            position: relative;
            width:45%;
            height: 45%;
            display: flex;
            padding: 15px;

        }

          
        .container{
            position: relative;
            background-color: $color_fondo_texto;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            overflow: scroll;
        

            p{

                font-family: 'Times New Roman', Times, serif;
                font-size: 16px;
                color: $color_verde;
                position: relative;
                padding: 50px;
                text-decoration: none;
                
            }
  
        
        }   
        
        .slante{
            background-color: $color_verdetras;
            width: 100%;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            bottom: 100px;
    
            
        }

            h2{
                color: $color_naranja; 
                font-size: 16px; 
                font-weight: 600;
                font-family: 'Spartan', sans-serif;
                display: flex;
                align-items: center;
                justify-content: center;
                
                
            }

            h2:hover{
            
                color: $color_verdetras;
            
            
            
            }
    

            .slante :hover{
                background-color: $color_naranja; 
                width: 110%;
                height: 55px;
                transform: scale(1.1,1.1);

        }

        
       

        

        
        


    }
    
  

    .fotosportada{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        
    }

    


    /* GALERIA DE FOTOS */ 

    div img{
        width: 90%;
        height: 90%;
        
    }

    div img :hover{
        transform: scale(1.2,1.2);
    }

   
    
    
    .contenedor_galeria{
            width: 100%;
            height: 700px;
            display: grid;
            column-gap: 10px;
            row-gap: 10px;
            justify-items: center;
            align-items: center;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas:     "a1"
                                     "a2"
                                     "a3"
                                     "a4"
                                     "a6"
                                     "a5";
                                    
    
    
     
    
        #foto1{ 
            
            grid-area: a1;
            width: 90%;
            height: 90%;
            

        

            
        }

        #foto1:hover{
            transform: scale(1.1,1.1);
        }




        #foto2{
            
            grid-area: a2;
            width: 90%;
            height: 90%;
        
        } 
        
        #foto2:hover{
            transform: scale(1.1,1.1);
        }

                    
        #foto3{
            
            grid-area: a3;
            width: 90%;
            height: 90%;
        

        }

        #foto3:hover{
            transform: scale(1.1,1.1);
        }



        #foto4{
            grid-area: a4;
            width: 90%;
            height: 90%;
        
        }

        #foto4:hover{
            transform: scale(1.1,1.1);
        }


        #foto5{
            grid-area: a5;
            width: 90%;
            height: 90%;
        
        }

        

                
        #foto6{
            grid-area: a6;
            width: 90%;
            height: 90%;
        
        }

        #foto6:hover{
            transform: scale(1.1,1.1);
    
        } 
    
    }

   


    
     

  /* FORMULARIO MOBILE */      
        
    form{
        margin: 10px;
        padding: 10px;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        color: $color_verde;
        
    }


    fieldset{
        position: relative;
        background-color: rgba(189, 189, 89, 0.658);
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        color: $color_verde;
        padding: 10px;
    }


    input{
        width: 80%;
        color: gray;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        padding: 20px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        

    }

    label{
        width: 80%;
        padding: 10px;
        display: flex; 
        align-items: center;
        justify-content: center;
        position: relative;


    }

    .pertenencia{
        background-color: violet;
        width: 1000px;
    }


    .botonesform{
        width: 50%;
        color: white;
        font-size: 12px ;
        font-family: 'Roboto', sans-serif; 
        background-color: $color_verdetras;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    legend{
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .botonesformenviar{
        width: 50%;
        color: white;
        font-size: 12px ;
        font-family: 'Roboto', sans-serif; 
        color: $color_verde;
        display: flex;
        align-items: center;
        justify-content: center;

    
    }

    textarea{

        margin: 5px;
        width: 90%;
        background-color: $color_verdetras;
        color: black;
        font-size: 12px ;
        font-family: 'Roboto', sans-serif;  
        padding: 10px;   
    }

    
    .container{
        display: flex;
        justify-content: center;
        align-items: center;

            
        .carousel slide{

            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color_verdetras;

            .titulo_slider {
                font-size: 17px;
                color: $color_naranja;
            }

        }

    }



        
  /* Mobile FOOTER */

        
    footer{
            
        height: 100px;
        width: 100%;
        background-color: $color_verde;
        bottom: 0;
        position: fixed;

        p{
            text-align: center;
            color: white;
            position: relative;
            font-size: 12px ;
            font-family: 'Roboto', sans-serif; 
            padding: 30px;
              
        }
    
    }

    
    


  

}



/* Mobile FIN */






/* Tablet*/

@media only screen and (min-width: 580px){

    /* logo */


    @mixin sombra{
        box-shadow: 0px, 8px, 5px black;
        

        
        
        
        
    }

    #logocompleto{
        background-color: white;
        position: relative;
        top: 30px;
        margin-bottom: 30px;

    }

    
    .isologotop{
        @include sombra;
        color: $color_azul; 
        font-size: 50px; 
        font-weight: 600;
        font-family: 'Spartan', sans-serif;
        position: relative;
        left: 150px;
    }

    .isologo{
        @include sombra;
        margin-top: -25px;
        margin-left: 60px;
        color: $color_verde; 
        font-size: 28px; 
        font-weight: 400;
        font-family: 'Spartan', sans-serif;
        position: relative;
        left: 150px;
    }


    #escudo{
        display: block;
        height: 120px;
        position: absolute;
        left: -120px;
        top: 1px;
        
        
    }

   
    h2 {
        color: $color_verde;
        font-size: 28px; 
        font-weight: 400;
        font-style: 'Spartan', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
      
    
    }
    

    .tema {
    
        color: $color_verde; 
        background-color: $color_fondo_texto;
        font-size: 32px; 
        font-weight: 400;
        font-style: 'Spartan', sans-serif;
        position: absolute;
        padding: 10px;
        top: 250px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
        
    }

    

 
 
    

    /* Tablet Main */


    .navbar{
        background-color: $color_verde;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center; 
        
        
        
    
    }
    
    
    .menu{
        width: 100%;
        display: flex;
        justify-content: center;
       
        
        
    }
    
    .menu li{
       
        height: 100%;
        width: 15%;
        display: flex;
        justify-content: center;
        
    
    }   

    
    .itemMenu{
        text-decoration: none;
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        color: white;
        padding: 10px;
      
    }

   
  body{
        width: 100%;
        height: 100%;
        

    }

   
    
    main{

        width: 100%;
        height: 1050px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(./imagenes/puerta_fahy_degradado.png);
        background-position: center center; 
        background-size: cover;
        background-attachment: fixed;


    }

   
 
    
    .contenedorfotos{
        position: relative;
        background-color: $color_fondo_texto;
        width: 70%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .contenedorfotos p{

        font-family: 'Times New Roman', Times, serif;
        font-size: 16px;
        color: $color_verde;
        position: relative;
        padding: 50px;
        
    }
    
    #imagenSocios{

        position: relative;
        width:45%;
        height: 45%;
        display: flex;
        padding: 15px;

    }
  

    .fotosportada{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        
    }


  
    .fotosportada img {
    
        height: 90%;
        position: relative;
       
    }
  
    /* GALERIA DE FOTOS */ 

    div img{
        width: 100%;
        height: 100%;
    }



    .contenedor_galeria{
            width: 100%;
            height: 700px;
            display: grid;
            column-gap: 10px;
            row-gap: 10px;
            justify-items: center;
            align-items: center;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas:     "a1 a2"
                                    "a3 a4"
                                    "a5 a6";
                                    
    }

    

    #foto1{ 
        
        grid-area: a1;
        width: 90%;
        height: 90%;

    

        
    }

    #foto2{
        
        grid-area: a2;
        width: 90%;
        height: 90%;
    
    }  
                
    #foto3{
        
        grid-area: a3;
        width: 90%;
        height: 90%;
    

    }

    #foto4{
        grid-area: a4;
        width: 90%;
        height: 90%;
    
    }

    #foto5{
        grid-area: a5;
        width: 90%;
        height: 90%;
    
    }
            
    #foto6{
        grid-area: a6;
        width: 90%;
        height: 90%;
    
    }

   
    
    #foto1:hover{
        transform: scale(1.1,1.1);
    }

    #foto2:hover{
        transform: scale(1.1,1.1);
    }

    #foto3:hover{
        transform: scale(1.1,1.1);
    }

    #foto4:hover{
        transform: scale(1.1,1.1);
    }

    #foto5:hover{
        transform: scale(1.1,1.1);
    }

    #foto6:hover{
        transform: scale(1.1,1.1);
    }


    


    
   /* FORM tablet */
 
    form{
        margin: 30px;
        padding: 10px;
        font-size: 24x;
        font-family: 'Roboto', sans-serif;
        color: $color_verde;



    }

    form{
    
    color: black;
    font-size: 16px ;
    font-family: 'Roboto', sans-serif;  
    padding: 10px;
    background-color: rgba(189, 189, 89, 0.658);
}


    fieldset{
        position: relative;
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        color: $color_verde;
        padding: 10px;


    }


    input{
        padding: 10px;
        margin: 10px;
        display: inline-block;


    }

    .botonesform{
        padding: 5px;
        margin: 5px;
        display: block;

    }

    textarea{

        margin: 5px;
        width: 90%;
        color: black;
        font-size: 16px ;
        font-family: 'Roboto', sans-serif;  
        padding: 10px;   
        background-color: rgba(255, 255, 255, 0.589); 
    }

         
    .slante{
        background-color: $color_verdetras;
        width: 40%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: left;
        position: fixed;
        bottom: 100px;
        left: 0px;
    }

    .slante h2{
        color: $color_naranja; 
        font-size: 130%; 
        font-weight: 600;
        font-family: 'Spartan', sans-serif;
        position: relative;
        margin-top: 0px;
        margin-left: 5px;
        padding: 10px;
    }

    
    .slante :hover{
        background-color: $color_naranja; 
        width: 110%;
        height: 55px;
        translate: 40px;
        transform: scale(1.3,1.3);

    }
   
   

    /* FOOTER tablet */

    .divfooter{
        height: 150px;
        margin: 5px;
        padding: 5px;
        position: relative;
        display: inline;


    }

    footer{
            
        height: 100px;
        width: 100%;
        background-color: $color_verde;
        position: relative;
        bottom: 0;
        
        p{
            text-align: center;
            color: white;
            position: relative;
            font-size: 12px ;
            font-family: 'Roboto', sans-serif; 
            padding: 30px;
              
        }
    
    }


}

/* Fin Tablet*/



/* broser*/

@media only screen and (min-width: 992px) {
    
    

    body{
        width: 100%;
        height: 100%;
        

    }

    @mixin sombra{
        box-shadow: 0px, 8px, 5px black;
        

        
        
        
        
    }

        

    /* logo */

    #logocompleto{
        background-color: white;
        height: 25vh;
        position: relative;
        top: 30px;
        margin-bottom: 30px;

    }

    .isologotop{
        @include sombra;
        color: $color_azul; 
        font-size: 50px; 
        font-weight: 600;
        font-family: 'Spartan', sans-serif;
        position: relative;
        left: 150px;
    }

    .isologo{
        @include sombra;
        margin-top: -25px;
        margin-left: 60px;
        color: $color_verde; 
        font-size: 30px; 
        font-weight: 400;
        font-family: 'Spartan', sans-serif;
        position: relative;
        left: 150px;
    }


    #escudo{
        display: block;
        height: 120px;
        position: absolute;
        left: -120px;
        top: 1px;
        
        
    }

    
    h2 {
        color:$color_verde; 
        font-size: 32px; 
        font-weight: 400;
        font-style: 'Spartan', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
      
    
    }
    

    

    .navbar{
        background-color:$color_verde;
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: center; 
        align-items: center;
        
    


        .menu{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        
        
                
            .itemMenu{
                text-decoration: none;
                font-size: 24px;
                font-style: 'Roboto', sans-serif;
                color: white;

                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            
        }


    }   

   


    /* 

    main{
        height: 1000px;
        position: relative;
        width: 100%;
        background: rgba(255, 255, 255, 0.377);

        background-image: url(./imagenes/fahypuertafiltro.jpeg);
        background-position: center center; 
        background-size: cover;
        background-attachment: fixed;
        
    }

    */ 
    
    main{

        width: 100%;
        height: 1050px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(./imagenes/puerta_fahy_degradado.png);
        background-position: center center; 
        background-size: cover;
        background-attachment: fixed;


    }

   
    .tema {
    
        color:$color_verde; 
        background-color: $color_fondo_texto;
        font-size: 32px; 
        font-weight: 400;
        font-style: 'Spartan', sans-serif;
        position: absolute;
        padding: 10px;
        top: 300px;
        

        
        
    }
 
    
    .contenedorfotos{
        @include sombra;
        position: relative;
        background-color: $color_fondo_texto;
        width: 70%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .contenedorfotos p{

        font-family: 'Spartan', sans-serif;
        font-size: 16px;
        color: $color_verde;
        position: relative;
        padding: 50px;
        
    }
    
    #imagenSocios{

        position: relative;
        width:45%;
        height: 45%;
        display: flex;
        padding: 15px;

    }
  

    .fotosportada{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        
    }


  
    .fotosportada img {
    
        height: 90%;
        position: relative;
       
    }
     /* 

     degrade (no me convence todavia)
    .mask{
        position: relative;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right,rgba(2, 110, 2, 0.342) , 
        rgba(240, 160, 11, 0.342) )
    }
    
     */
     

    /* GALERIA DE FOTOS no logre aplicar grid*/ 

   
    div img{
        width: 100%;
        height: 100%;
    }
  
    .contenedor_galeria{
        width: 100%;
        height: 900px;
        display: grid;
        
        justify-items: center;
        align-items: center;
      
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "a1 a2 a3"
                                "a4 a5 a6"
                                ;
                                        
                                
    }


    #foto1{    
        grid-area: a1;

        
    
    }

    #foto2 {
        grid-area: a2;
        
        
    }  
                
    #foto3{
        grid-area: a3;
        
    }

    #foto4{
        grid-area: a4;
       
    }
            
    

    #foto5{
        grid-area: a5;
        
        
    }
            
    #foto6{
        grid-area: a6;
        
    }

    
    #foto1:hover{
        transform: scale(1.1,1.1);
    }

    #foto2:hover{
        transform: scale(1.1,1.1);
    }

    #foto3:hover{
        transform: scale(1.1,1.1);
    }

    #foto4:hover{
        transform: scale(1.1,1.1);
    }

    #foto5:hover{
        transform: scale(1.1,1.1);
    }

    #foto6:hover{
        transform: scale(1.1,1.1);
    }

            
 


 


    .slante{
        background-color: $color_verdetras;
        width: 30%;
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: left;
        position: fixed;
        bottom: 110px;
        left: 0px;
        
        


        .slante h2{
            color: $color_naranja; 
            font-size: 150%; 
            font-weight: 600;
            font-family: 'Spartan', sans-serif;
            position: relative;
            margin-top: 0px;
            margin-left: 5px;
            padding: 10px;
        }

        
        .slante :hover{
            background-color: $color_naranja; 
            translate: 0px;
            transform: scale(1.1,1.1);

        }

         
       

        
    }
    
    .slante h2:hover {
            
        color: $color_verdetras;
        
        
        
    }   


   
 /* FORM BROSER */

   

    form{
    
        color: black;
        font-size: 14px ;
        font-family: 'Roboto', sans-serif;  
        padding: 30px;
        background-color: $color_fondo_texto;


        
        fieldset{
            position: relative;
            font-size: 20px;
            font-family: 'Roboto', sans-serif;
            color: rgb(2, 110, 2,);
            padding: 5px;


            
            input{
                padding: 10px;
                margin: 10px;
                display: inline-block;


            }

        }

        textarea{

            margin: 5px;
            width: 90%;
            color: black;
            font-size: 16px ;
            font-family: 'Roboto', sans-serif;  
            padding: 10px;  
            background-color: rgba(255, 255, 255, 0.589); 
        }

        .botonesform{
            padding: 5px;
            margin: 5px;
            display: block;
    
        }
    


    }





   




    /* FOOTER  Broser

    

    .divfooter{
        height: 150px;
        margin: 5px;
        padding: 5px;
        position: relative;
        display: inline;


    }
        
    footer{
            
        height: 100px;
        width: 100%;
        background-color: rgb(2, 110, 2);
        bottom: 0;
        position: relative;
    
    }

    
    
    .textofooter{
        text-align: center;
        color: white;
        position: relative;
        font-size: 18px ;
        font-family: 'Roboto', sans-serif; 
        padding: 30px;
          
    }
    
    */


    .container{
        display: flex;
        justify-content: center;
        align-items: center;

            
        .carousel slide{

            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color_verdetras;

            .titulo_slider {
                font-size: 17px;
                color: $color_naranja;
            }

        }

    }



    .mje_socio{
        position: relative;
        display: flex;
        color: $color_azul;
        background-color: $color_naranja;
        font-size: 24px ;
        font-family: 'Roboto', sans-serif; 
        padding: 10PX;
        

    }

    .mje_visita{
        @extend .mje_socio;
        color: white;
        background-color: $color_azul;
        

    }

    .mje_galeria{
        @extend .mje_socio;
        color: $color_verdetras
        background-color $color_naranja;
        padding-left: 350px;
        



    }


  
         
    footer{
            
        height: 100px;
        width: 100%;
        background-color: $color_verde;
        position: relative;
        bottom: 0;
        
        p{
            text-align: center;
            color: white;
            position: relative;
            font-size: 12px ;
            font-family: 'Roboto', sans-serif; 
            padding: 30px;
              
        }
    
    }

    
}

/* fin broser*/


/* Main */

/* Main 
main{
    height: 700px;
    position: relative;
    width: 100%;
    background-image: url(./imagenes/fahy\ puerta.jpeg);
    background-position: center center; 
    background-size: cover;
    background-attachment: fixed;
    }
    */







/* FORMULARIO */






/* FOOTER 

.divfooter{
    height: 150px;
    margin: 5px;
    padding: 5px;
    bottom: 0px;
    position: relative;
    display: inline;


}

footer{
    position: relative;
    height: 100px;
    background-color: rgb(0, 172, 0, 0.507);
    bottom: 0;


}


.textofooter{
    text-align: center;
    color: black;
    position: relative;
    font-size: 12px ;
    font-family: 'Roboto', sans-serif; 
    padding: 30px;
      
}
*/

    